/* You can add global styles to this file, and also import other style files */
body{
  background-image: linear-gradient(70deg,rgb(16, 222, 236) 20%,rgb(18, 248, 179) 55%,rgb(243, 220, 11));

  background-size: cover;

}

.mainheading{
  /* font-size: 42px; */

background: linear-gradient(90deg, rgba(205,8,161,1) 36%, rgba(5,24,222,1) 68%, rgba(0,212,255,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.styledText{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
